  <mat-card class="card">
    <div class="container">
      <h1>Register</h1>
      <form #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm)" autocomplete="off">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id">
        <div> <input type="text" name="name" #name="ngModel" [(ngModel)]="studentService.selectedStudent.name" placeholder="Enter full name" required />
          <mat-error *ngIf="studentForm.controls.name.invalid">
            <span *ngIf="studentForm.controls.name.errors['required']">Name Required</span>
          </mat-error>
      </div>

        <div> <input type="email" name="email" #name="ngModel" [(ngModel)]="studentService.selectedStudent.email" placeholder="Enter email" required>
            <mat-error *ngIf="studentForm.controls.email.invalid">
              <span *ngIf="studentForm.controls.email.errors['required']">Email Required</span>
            </mat-error>
        </div>

        <div> <input type="text" name="mobile" #name="ngModel" [(ngModel)]="studentService.selectedStudent.mobile" placeholder="Enter mobile number" required>
          <mat-error *ngIf="studentForm.controls.mobile.invalid">
            <span *ngIf="studentForm.controls.mobile.errors['required']">Mobile Required</span>
          </mat-error>
      </div>

        <div> <input type="text" name="address" #name="ngModel" [(ngModel)]="studentService.selectedStudent.address" placeholder="Enter address" required>
            <mat-error *ngIf="studentForm.controls.address.invalid">
              <span *ngIf="studentForm.controls.address.errors['required']" >Address Required</span>
            </mat-error>
        </div>
          <div>  
            <button class="btn btn-custom right" type="button" (click)="resetForm(studentForm)">Reset</button>
            <button class="btn btn-custom right" type="submit" [disabled]="!studentForm.valid">Submit</button>
          </div>
      </form>
    </div>
  </mat-card>
  

