.container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .card {
    width: 50%;
    margin: 0 auto;
    margin-top: 15vh;
  }
  
  mat-form-field {
    width: 100%;
  }
  