<mat-card class="card">
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <div>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
          <mat-error *ngIf="loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors['required']"
              >Email Required</span
            >
          </mat-error>
      </div>
      <div>        
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors['required']"
              >Password Required</span
            >
          </mat-error>
        <div>
          <button style="margin-top: 20px" mat-raised-button color="primary" > Login </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>



