<!--Nav bar  -->
 <div>
 <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        
      </button>
      <h1>Dashboard</h1>
      <span class="menu-spacer"></span>
      <div> 
        <a mat-button style="margin-left: 50px;" (click)="openRegister()"> Add User </a>
        <a mat-button >  </a>
        <a mat-button >  </a>
        <a mat-button >  </a>
        <a mat-button >  </a>
        <a mat-button >  </a>
  
      </div>
     
    </mat-toolbar-row> 
  </mat-toolbar>
  </div>
    
  <!-- table -->

  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
  <!--side bar -->
  


  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let stud of studentList">
      <td>{{stud.name}}</td>
      <td>{{stud.email}}</td>
      <td>{{stud.mobile}}</td>
      <td>{{stud.address}}</td>
      <td>
        <a class="action-btn" (click)="onEdit(stud._id)">
          <i class="material-icons">edit</i>
         </a>
        <a class="action-btn" (click)="onDelete(stud._id,studentList)">
          <i class="material-icons">delete</i>
        </a>
        </td>
    </tr>
  </table>


  <mat-card>
    <div> <button class="btnDashboard" mat-flat-button>Dashboard</button></div>
    <div><button class="btnAddUser" mat-flat-button>Add User</button></div>
    <div><button class="btnLists" mat-flat-button>Lists</button></div>
    

  </mat-card>