.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;   
 }

 table {
   width: 75%;
 }
.mat-table{
 float: right;
 margin: 20px 10px 0px 0px;
 height: 98%;
}

.mat-card{
   width: 20%;
    height: 95%;
    margin-top: 20px;
}

.btnDashboard{
   width: 100%;
    margin-bottom: 10px;
}

.btnAddUser{
   width: 100%;
    margin-bottom: 10px;
}

.btnLists{
   width: 100%;
    margin-bottom: 10px;
}

.responsive-table{
   float: right;
   margin: 20px 10px 0px 0px;
}